/* @font-face {
    font-family: 'open_sansregular';
    src: url('opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}


 /* * {
    font-family: ;
}  */

body {
    max-width: 90%;
    margin-left: auto;
    background-image: url(gR4JPb.webp);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}

img {
    float: left;
    margin-right: 50px;
}

a {
    text-decoration: none;
    border: 1px solid black;
    background-color: #ADD8E6;
    border-radius: 7px;
    color: #333;
}

/* a:visited {
    background-color: #333;
    color: #0000FF;
} */

a:hover {
    background-color: #333;
    color: #ADD8E6;
}

p {
    font-style: Serif;
    font-size: 17px;
    color: 	#404040;
    line-height: 22px;
}

li {
    font-style: Serif;
    font-size: 17px;
    color: 	#404040;
    line-height: 22px;
}

q {
    text-emphasis: italic;
}

.vil {
    color: #D22B2B;
}

.farm {
    color: #770737;
}

header p {
    background: yellow;
    text-emphasis: bold;
}

.bad {
    color: red;
    text-transform: capitalize;
}

.good {
    color: green;
    text-transform: capitalize;
}

tr:nth-of-type(odd) {
      background-color:grey;
    }
tr:nth-of-type(even) {
      background-color:white;
    }

.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}